@import '/css/style.css';

body {
    overflow-y: scroll;
    overflow-x: hidden;
   
    background-color: #31511E;
}


.container {
    top: 50px;
    height: 100%;
    width: 100vw;
    width: 1280px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;    
    margin-top: 0px;
    padding: 20px;
    gap: 20px;
}

.nav-container {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 50vh;
	overflow: hidden;
	background: #1A1A19;
	margin: 0;
    margin-top: 370px;
}

.nav-toggle, .logo-draw {
    width: 20%;
	height: 40%;
}

.nav-toggle > img {
	width: 100%;
	height: 100%;
	margin: 0;
	transition: all 0.3s ease-in;
}

.logo-draw > img {
	width: 80%;
	height: auto;
	animation: fade-in 1s ease-in-out 1;
}

.logo-draw > img:nth-child(2) > * {
	opacity: 0;
	animation: fade-in 2.5s ease-in-out 1;
	animation-fill-mode: forwards;
}

.border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}

.border:hover {
    border: 1px solid #326250;
}

.heading {
    font-size: 5rem;
    font-weight: 900;
    color: white;
    margin: 0;
    margin-top: 60px;
    color: #000000;
    font-family: cursive;
}

.card {
    height: 379px;
    width: 300px;
    background: #5A6C57;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0px;
}

.card0 {
    background: url('/images/heads/calvinvictor.jpg') center center no-repeat;
    background-size: 300px;
}

.card0:hover {
    background: url('/images/heads/calvinvictor.jpg')  left center no-repeat ;
    background-size: 600px;
}

.card0:hover h2 {
    opacity: 2;
}

.card0:hover h3 {
    opacity: 1;
}

.card0:hover .fa {
    opacity: 2;
}

.card1 {
    background: url('/images/heads/Sumanth.jpg') center center no-repeat;
    background-size: 300px;
}

.card1:hover {
    background: url('/images/heads/Sumanth.jpg') left center no-repeat;
    background-size: 600px;
}

.card1:hover h2 {
    opacity: 1;
}

.card1:hover h3 {
    opacity: 1;
}

.card1:hover .fa {
    opacity: 1;
}

.card2 {
    background: url('/images/heads/melvin.jpg') center center no-repeat;
    background-size: 300px;
}

.card2:hover {
    background: url('/images/heads/melvin.jpg') left center no-repeat;
    background-size: 600px;
}

.card2:hover h2 {
    opacity: 1;
}

.card2:hover h3 {
    opacity: 1;
}

.card2:hover .fa {
    opacity: 1;
}

.card3 {
    background: url('/images/heads/james.jpg') center center no-repeat;
    background-size: 300px;
}

.card3:hover {
    background: url('/images/heads/james.jpg') left center no-repeat;
    background-size: 600px;
}

.card3:hover h2 {
    opacity: 1;
}

.card3:hover h3 {
    opacity: 1;
}

.card3:hover .fa {
    opacity: 1;
}

.card4 {
    background: url('/images/heads/aravind.jpg') center center no-repeat;
    background-size: 300px;
}

.card4:hover {
    background: url('/images/heads/aravind.jpg') left center no-repeat;
    background-size: 600px;
}

.card4:hover h2 {
    opacity: 1;
}

.card4:hover h3 {
    opacity: 1;
}

.card4:hover .fa {
    opacity: 1;
}

.card5 {
    background: url('/images/heads/ahad.jpg') center center no-repeat;
    background-size: 300px;
}

.card5:hover {
    background: url('/images/heads/ahad.jpg') left center no-repeat;
    background-size: 600px;
}

.card5:hover h2 {
    opacity: 1;
}

.card5:hover h3 {
    opacity: 1;
}

.card5:hover .fa {
    opacity: 1;
}

.card6 {
    background: url('/images/heads/nandini.jpg') center center no-repeat;
    background-size: 300px;
}

.card6:hover {
    background: url('/images/heads/nandini.jpg') left center no-repeat;
    background-size: 600px;
}

.card6:hover h2 {
    opacity: 1;
}

.card6:hover h3 {
    opacity: 1;
}

.card6:hover .fa {
    opacity: 1;
}

.card7 {
    background: url('/images/heads/rejeesh.jpg') center center no-repeat;
    background-size: 300px;
}

.card7:hover {
    background: url('/images/heads/rejeesh.jpg') left center no-repeat;
    background-size: 600px;
}

.card7:hover h2 {
    opacity: 1;
}

.card7:hover h3 {
    opacity: 1;
}

.card7:hover .fa {
    opacity: 1;
}

.card8 {
    background: url('/images/heads/Monica.jpg') center center no-repeat;
    background-size: 300px;
}

.card8:hover {
    background: url('/images/heads/Monica.jpg') left center no-repeat;
    background-size: 600px;
}

.card8:hover h2 {
    opacity: 1;
}

.card8:hover h3 {
    opacity: 1;
}

.card8:hover .fa {
    opacity: 1;
}
.card9 {
    background: url('/images/heads/smitha.jpg') center center no-repeat;
    background-size: 300px;
}

.card9:hover {
    background: url('/images/heads/smitha.jpg') left center no-repeat;
    background-size: 600px;
}

.card9:hover h2 {
    opacity: 1;
}

.card9:hover h3 {
    opacity: 1;
}

.card9:hover .fa {
    opacity: 1;
}

.card10 {
    background: url('/images/heads/anson.jpg') center center no-repeat;
    background-size: 300px;
}

.card10:hover {
    background: url('/images/heads/anson.jpg') left center no-repeat;
    background-size: 600px;

}

.card10:hover h2 {
    opacity: 1;
}

.card10:hover h3 {
    opacity: 1;
}

.card10:hover .fa {
    opacity: 1;
}
.card11 {
    background: url('/images/heads/usha.jpg') center center no-repeat;
    background-size: 300px;
}

.card11:hover {
    background: url('/images/heads/usha.jpg') left center no-repeat;
    background-size: 600px;
}

.card11:hover h2 {
    opacity: 1;
}

.card11:hover h3 {
    opacity: 1;
}

.card11:hover .fa {
    opacity: 1;
}

.card12 {
    background: url('/images/heads/clan.jpg') center center no-repeat;
    background-size: 300px;
}

.card12:hover {
    background: url('/images/heads/clan.jpg') left center no-repeat;
    background-size: 600px;
}

.card12:hover h2 {
    opacity: 1;
}

.card12:hover h3 {
    opacity: 1;
}

.card12:hover .fa {
    opacity: 1;
}

.card13 {
    background: url('/images/heads/') center center no-repeat;
    background-size: 300px;
}

.card13:hover {
    background: url('/images/heads/') left center no-repeat;
    background-size: 600px;
}

.card13:hover h2 {
    opacity: 1;
}

.card13:hover h3 {
    opacity: 1;
}

.card13:hover .fa {
    opacity: 1;
}

.card14 {
    background: url('/images/heads/') center center no-repeat;
    background-size: 300px;
}

.card14:hover {
    background: url('/images/heads/') left center no-repeat;
    background-size: 600px;
}

.card14:hover h2 {
    opacity: 1;
}

.card14:hover h3 {
    opacity: 1;
}

.card14:hover .fa {
    opacity: 1;
}

.card15 {
    background: url('/images/heads/') center center no-repeat;
    background-size: 300px;
}

.card15:hover {
    background: url('/images/heads/') left center no-repeat;
    background-size: 600px;
}

.card15:hover h2 {
    opacity: 1;
}

.card15:hover h3 {
    opacity: 1;
}

.card15:hover .fa {
    opacity: 1;
}

.card16 {
    background: url('/images/heads/') center center no-repeat;
    background-size: 300px;
}

.card16:hover {
    background: url('/images/heads/') left center no-repeat;
    background-size: 600px;
}

.card16:hover h2 {
    opacity: 1;
}

.card16:hover h3 {
    opacity: 1;
}

.card16:hover .fa {
    opacity: 1;
}

.card17 {
    background: url('/images/heads/') center center no-repeat;
    background-size: 300px;
}

.card17:hover {
    background: url('/images/heads/') left center no-repeat;
    background-size: 600px;
}

.card17:hover h2 {
    opacity: 1;
}

.card17:hover h3 {
    opacity: 1;
}

.card17:hover .fa {
    opacity: 1;
}


h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ffffff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
    font-weight: 700;
    font-style: oblique;
}

h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ffffff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
    font-weight: 400;
    font-style: normal;
}

.fa {
    opacity: 0;
    transition: opacity 1s;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.icons {
    position: absolute;
    fill: #ffffff;
    color: #ffffff;
    height: 130px;
    top: 226px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.nine h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .nine h1 span {
    margin-top: 5px;
      font-size:15px; color:#000000; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .nine h1 span:after,.nine h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
    background-color:#f8f8f8;
  }
  

  @media screen and (max-width: 768px) {

    .container {
        width: 100%;
        padding: 10px;
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .nav-container {
        height: auto;
        padding: 15px 0;
        background-color: #31511E;
    }

    .nav-toggle, .logo-draw {
        width: 70%;
    }

    .card {
        min-width: 70%;
        margin: 10px 0;
    }

    .nine h1 {
        font-size: 1.5rem;
    }

    #particles-js {
        width: 100%;
        height: 880%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; 
    }

}

@media screen and (max-width: 480px) {
    .nav-toggle, .logo-draw {
        width: 90%;
    }

    .heading {
        font-size: 2rem;
    }
}