body {
    background-color:#000;
    color: orangered;
    margin: 0;
}

.container {
    padding: 5rem 8rem;
    /* border: 1px solid red; */
}

img {
    display: block;
}

h1,h2,h3,h4,nav {
    font-family: 'Bruno Ace', sans-serif;
    letter-spacing: 8px;
}

header {
    width: 100%;
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff00;
}

nav {
    height: 80px;
    align-items: center;
    min-width: 600px;
    display: flex;
    gap: 2rem;
    margin: auto;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #ffa800;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0 10px;
}


nav a:after {
    content: "";
    position: absolute;
    background-color: orangered;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;  
}

nav a:hover {
    color: orangered;
    transition: 0.3s;  
}

nav a:hover:after {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: 10px;
}


#hero {
    background-image: url(images/background.png);
    background-position: center;
    background-repeat: no-repeat;
}

#hero .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 75dvh;

}

#hero .logo {
    /* padding-top: 5rem; */
    text-align: center;
}

#hero .logo img {
    max-width: 80%;
    margin: auto;
}

#hero .title {
    margin: 15px 0;
}

#hero .title img {
    scale: 1.3;
    margin: auto;
}

#hero h1 {
  
    margin-top: 0;
    font-size: 2rem;
}

#registration {
    background-image: linear-gradient(#cd0101ce, #000);
    color: #000;
}